<ion-header [translucent]="true">
  <div class="wrapper">
    <ion-toolbar>
      <ion-title>
        Playlist
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content padding>
  <div class="wrapper">
    
  <ion-list>
    <ion-item *ngFor="let playlist of playlists">
      <ion-checkbox slot="start" [(ngModel)]="playlist.isChecked"></ion-checkbox>
      <ion-label>{{playlist.val}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="getVideoIds()">Update Playlist</ion-button>

</div>

</ion-content>

