.centering_parent {
    padding: 20px;              /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
}

ul{
    list-style: none;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 0;
    padding-right: 20px;
}

