<ion-header>
</ion-header>

<ion-content>
  <div class="centering_parent" >
    <ion-grid>
    <ion-row>
      <ion-col>
        <plyr style="width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"></plyr>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="getsSpeed100()">100%</ion-button>
        <ion-button (click)="getsSpeed50()">50%</ion-button>
        <ion-button (click)="changeCaption()">字幕切替</ion-button>
      </ion-col>
    </ion-row>

    <div style="width:100%;height:600px;overflow:auto;">

      <div *ngIf='captionFlag; else Statement'>
        <ul *ngFor="let caption of captions[0]">
          <li (click)="moveToTime(caption[0])">{{caption[1]}}</li>
        </ul>
      </div>

      <ng-template #Statement>
        <ul *ngFor="let caption of captions[1]">
          <li (click)="moveToTime(caption[0])">{{caption[1]}}</li>
        </ul>
      </ng-template>

    </div>

  </ion-grid>
</div>

</ion-content>
