<ion-header [translucent]="true">
  <div class="wrapper">
    <ion-toolbar>
      <ion-title>
        学習履歴
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wrapper">
    <ion-title>
      １週間
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>

  <div class="wrapper">
    <ion-title>
      １ヶ月
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>

  <div class="wrapper">
    <ion-title>
      ３ヶ月
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>


</ion-content>




