<ion-header [translucent]="true">
  <div class="wrapper">
    <ion-toolbar>
      <ion-title>
        Learning Log
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wrapper">
    <ion-title>
      Last 1 week
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>

  <div class="wrapper">
    <ion-title>
      Last 1 month
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>

  <div class="wrapper">
    <ion-title>
      Last 3 months
    </ion-title>
    <app-charts [dataTable]="dataTable"></app-charts>
  </div>


</ion-content>




